body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.mainPage{
    background: linear-gradient(90deg, #00008a 0%, #9900e0 100%);
    height: 1080px;
} 

.mainContainer{
    padding: 10vh 10vh;
    display: grid;
    grid-template-columns: 25vh 25vh 25vh 25vh 25vh 25vh 25vh;
    grid-template-rows: 25vh 25vh 25vh 25vh 25vh 25vh 25vh;
    gap: 5vh;
    justify-content: center;
}

.mainContainer a{   
    background-color: white;
    border-radius: .625rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: end;
}

.tictacPage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(12, 31, 22,0.2) 0%, rgba(12, 31, 22,0.2) 16.667%,rgba(47, 48, 61,0.2) 16.667%, rgba(47, 48, 61,0.2) 33.334%,rgba(152, 97, 180,0.2) 33.334%, rgba(152, 97, 180,0.2) 50.001%,rgba(187, 114, 219,0.2) 50.001%, rgba(187, 114, 219,0.2) 66.668%,rgba(82, 64, 101,0.2) 66.668%, rgba(82, 64, 101,0.2) 83.335%,rgba(117, 81, 140,0.2) 83.335%, rgba(117, 81, 140,0.2) 100.002%),linear-gradient(22.5deg, rgba(12, 31, 22,0.2) 0%, rgba(12, 31, 22,0.2) 16.667%,rgba(47, 48, 61,0.2) 16.667%, rgba(47, 48, 61,0.2) 33.334%,rgba(152, 97, 180,0.2) 33.334%, rgba(152, 97, 180,0.2) 50.001%,rgba(187, 114, 219,0.2) 50.001%, rgba(187, 114, 219,0.2) 66.668%,rgba(82, 64, 101,0.2) 66.668%, rgba(82, 64, 101,0.2) 83.335%,rgba(117, 81, 140,0.2) 83.335%, rgba(117, 81, 140,0.2) 100.002%),linear-gradient(45deg, rgba(12, 31, 22,0.2) 0%, rgba(12, 31, 22,0.2) 16.667%,rgba(47, 48, 61,0.2) 16.667%, rgba(47, 48, 61,0.2) 33.334%,rgba(152, 97, 180,0.2) 33.334%, rgba(152, 97, 180,0.2) 50.001%,rgba(187, 114, 219,0.2) 50.001%, rgba(187, 114, 219,0.2) 66.668%,rgba(82, 64, 101,0.2) 66.668%, rgba(82, 64, 101,0.2) 83.335%,rgba(117, 81, 140,0.2) 83.335%, rgba(117, 81, 140,0.2) 100.002%),linear-gradient(90deg, rgb(106, 106, 106),rgb(42, 42, 42));
    height: 61.5rem;
}

.tictacContainer{
    display: grid;
    grid-template-columns: 26vh 26vh 26vh;
    grid-template-rows: 26vh 26vh 26vh;
    gap: 3vh;
}

.tictacContainer button{
    border: .0625rem solid;
    border-radius: .625rem;
    cursor: pointer;
    background-image: center center/contain no-repeat content-box local;
    font-size: 5.375rem;
    font-weight: bold;
}
